/* Global styles */

* {
    margin: 0;
    padding: 0;
}

html,
body,
#root,
#app {
    font-family: 'Roboto';
    font-weight: 300;
    height: 100%;
    overflow: hidden;
}


/* Header */

#app>header {
    align-items: center;
    align-content: center;
    background: rgb(11, 25, 36);
    border-bottom: 1px solid rgb(34, 47, 60);
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;
}

#app>header h1 {
    display: inline-block;
    flex-grow: 2;
    font-weight: 100;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

#app>header .select {
    display: inline-block;
    margin-right: 10px;
    width: 200px;
    z-index: 3;
}

#app>header .select:last-child {
    margin-right: 0;
}


/* Fotter */

#app>footer {
    background: rgb(11, 25, 36);
    box-sizing: border-box;
    border-top: 1px solid rgb(34, 47, 60);
    height: 40px;
}

#app>footer nav {
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    justify-content: flex-end;
    letter-spacing: 0.3px;
    padding: 0 10px;
    width: 100%;
}

#app>footer nav a {
    color: rgb(125, 138, 148);
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
}

#app>footer nav a:last-child {
    margin-right: 0;
}


/* Main content */

#app main {
    align-items: flex-start;
    background: rgb(23, 43, 58);
    display: flex;
    height: calc(100% - 100px);
    justify-content: stretch;
    position: relative;
    width: 100%;
}

#app .run-btn {
    align-items: center;
    background: rgb(185, 191, 196);
    border: 6px solid rgb(11, 20, 28);
    border-top: none;
    border-radius: 0 0 100% 100%;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    left: 60%;
    margin: 0 0 0 -43px;
    position: absolute;
    top: 0;
    transition: background 200ms;
    width: 60px;
    z-index: 2;
}

#app .run-btn:hover {
    background: rgb(201, 208, 213);
}

#app .run-btn:active {
    background: rgb(166, 175, 182);
}

#app .editor {
    background: rgb(15, 32, 45);
    height: 100%;
    overflow: hidden;
    width: 60%;
    z-index: 1;
}

#app .output {
    box-sizing: border-box;
    color: rgb(85, 94, 102);
    font-family: "Source Code Pro", "Consolas", "Inconsolata", "Droid Sans Mono", "Monaco", monospace;
    height: 100%;
    letter-spacing: 0.6px;
    overflow: auto;
    padding: 20px;
    position: relative;
    width: 40%;
}

#app .output .dummy {
    position: absolute;
    text-align: center;
    top: 50%;
    width: calc(100% - 40px);
}


/* Monaco editor */

#app .editor .monaco-editor>div,
#app .editor .monaco-editor .margin {
    box-sizing: border-box;
    padding-top: 15px;
}

#app .monaco-editor,
#app .monaco-editor .margin,
#app .monaco-editor-background,
#app .monaco-editor .inputarea.ime-input {
    background: transparent;
}